/***************************************************************************************************
                                          RESET CLASSES
***************************************************************************************************/

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 16px 0;
}

ul {
	margin: 16px 0;
}

a {
	color: #5473bb;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1, h2, h3, h4 {
	/*color: #5473bb;*/
    font-family: BankGothic LT BT, Arial, sans-serif;
}

.h-list {
	padding: 0;
}

.h-list li, .h-list div.thumb {
	display: inline-block;
}

.h-list li {
	
	margin-right: 10px;
	list-style-type: none;
}

.h-list div.thumb {
	
}

.h-list img {
	width: 100%;
}

.h-list li:last-child {
	margin: 0;
}

.circle {
	border-radius: 50%;
	overflow: hidden;
}

.logo-full {
	background: url(../images/logo-full.png) center center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	text-indent: -9999px;	
}

h1.logo-full {
	max-width: 369px;
}


/***************************************************************************************************

***************************************************************************************************/

body {
	min-width: 300px;
	margin: 0;
	
	font-family: Trebuchet MS, Arial, sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	background: url("../images/escheresque_ste.png");
	
    /*background: url("../images/carbon-gradient-1.png") left top repeat-y, url("../images/carbon-pattern-1.png") left top;
    background-size: 100%, auto;*/
}

.page-header {
	margin-bottom: 20px;
}

.page-header h1 {
	height: 50px;
	margin: 22px auto;
	
}

.page-footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer {
	color: #5473bb;
}

nav ul li {
	text-decoration: none;
}

/*
#wrapper {
	box-sizing: border-box;
	max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    min-width: 300px;
    color: #FFFFFF; 
}
*/

.wrapper-page {
	
}

.wrapper-content {
	box-sizing: border-box;
	max-width: 1000px;
	margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    min-width: 300px;
    color: #FFFFFF; /* #5473BB; */
}

#nav-main ul {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#nav-main ul li {
	width: 54px;
	
}

#nav-main ul li:last-child {
	margin: 0;
}

#nav-main img {
	
}

#profile {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	
	
}

#profile header{
	text-align: center;
}

#profile h2 {
	
	margin: 10px 0 20px;
}

#profile .content-main p {
	
	
	max-width: 500px;
	margin: 0 auto 15px;
	
	text-align: center;
}

.profile-pict {
	width: 132px;
	margin: 0 auto;
	
	text-align: center;
}

.profile-pict img {
	width: 100%;
}

#my-work {
	width: 100%;
}

#my-work .banners {
	padding: 0;
}

#my-work .banners li {
	padding-bottom: 10px;
}

#my-work img {
	width: 100%;
}

#my-work ul li {
	
	list-style-type: none;
}

.page-footer {
	text-align: center;
}

.page-footer .h-list {
	width: 100%;
	margin: 16px auto;
	text-align: center;
}

@media only screen and (min-width:326px) {

	h1.logo-full {
		min-height: 70px;
	}

	#nav-main ul li {
		width: auto;
	}
	
	.profile-pict {
		width: 200px;
	}
}

@media only screen and (min-width:800px) {

	#nav-main {
		float: left;
	}
	
	#nav-main ul {
		margin: 22px 0;
	}

	.page-header h1 {
		float: right;
		width: 369px;
		margin: 22px 0;
	
	}
	
	#profile {
		
	}
	
	#profile header, #profile .content-main {
		box-sizing: border-box;
	}
	
	#profile header {
		float: left;
		padding-top: 44px;
		/*padding-left: 20px;*/
		width: 44%
	}
	
	#profile header h2 {
		margin-bottom: 0;
	}
	
	#profile .content-main {
		float: right;
		width: 56%;
	
		padding-right: 20px;
		
		text-align: right;
		
	}
	
	#profile .content-main p {
		
		margin-top: 126px;
		text-align: left;
		font-size: 1.1em;
	}
	
	.page-footer address {
		float: left;
		margin-top: 25px;
	}
	
	.page-footer .h-list {
		float: right;
		width: auto;
	}
	
	.project {
		width: 100%;
	}
	
	.splash {
		padding: 50px 0;
		
		
	}
	
	.splash .hero-image {
		float: left;	
		width: 45%;
	}
	
	.splash .description {
		float: right;
		width: 45%;
	}
	
	.gallery {
		padding: 50px 0;
	}
	
	.gallery .display {
		float: left;
		width: 45%;
	}
	
	.gallery .description {
		float: right;
		width: 45%;
	}
	
}

