body {
    background: url("../images/carbon-gradient-1.png") left top, url("../images/carbon-pattern-1.png") left top;
    background-size: 100%, auto;

    font-family: Trebuchet MS, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: BankGothic LT BT, Arial, sans-serif;
}

footer {

}

#wrapper {
    margin: 0 auto;
    width: 90%;
    color: #FFFFFF; /* #5473BB; */
}